<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Movie</title>
</head>
<body>
  <h1>Add Movie</h1>

  <form method="post">
    {% csrf_token %}
    <p>
      <label for="movie-title">Título</label>
      <input type="text" name="movie_title" id="movie-title">
    </p>

    <p>
      <label for="writer-name">Director</label>
      <input type="text" name="director_name" id="director-name">
    </p>

    <p>
      <label for="film-year">Film Year</label>
      <input type="number" name="film_year" id="film-year">
    </p>

    <button type="submit">Agregar</button>
  </form>
</body>
</html>